body{
    margin: 0;    
}

#display{    
    background: #000000;
    width: 100vw;
    height: 100vh;
}

#DVD_logo{
    width: 100px;
    height: 47px;
    position: relative;    
    filter: saturate(500%);
}